<a class="btn btn-primary pull-right" href="/post/create" role="button">Create Post</a>

<h1 class="page-header">Posts</h1>

<div class="table-responsive">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>&nbsp;</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
            <% posts.each do |post| %>
            <tr>
                <td><a href="/post/edit/<%= post.id %>"><%= post.id %></a></td>
                <td><%= post.settings['title'] %></td>
                <td><span class="label label-<% if post.settings['published'] %>success">Published<% else %>warning">Unpublished<% end %></span></td>
                <td><%= post.settings['date'] %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

</div>
