<a class="btn btn-primary pull-right" href="/page/new" role="button">Create Page</a>

<h1 class="page-header">Pages</h1>

<div class="table-responsive">

<table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
	</tr>
	</thead>
</table>

</div>
